<%- include('../partials/header') %>

<div>
  Before adding, please ensure that the Pokemon is not in the following list:
</div>
<section id="badge-container">
  <% pokemon.forEach(function(p) { %>
  <article class="badge"><%= p.name %></article>
  <% }) %>
</section>

<form id="add-pokemon-form" action="/pokemon" method="POST">
  <label>Name:</label>
  <input type="text" name="name" />
  <input type="submit" value="Add Performer" />
</form>

<%- include('../partials/footer') %>
