* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: #ff0000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  padding: 20px;
  overflow-y: scroll;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form input[type="submit"] {
  grid-column: span 3;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.new_game {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.pokemon_info_container {
  padding: 0 20px 0 30px;
  margin: 20px;
}
